@page
@model BookRental.Pages.ContactView.ConfirmedModel
@{
    ViewData["Title"] = "Confirmation";
}
<link rel="stylesheet" href="~/css/Unconfirmed.css" asp-append-version="true" />
<h1>Message Sent</h1>
<p>Thank you for your message. We will get back to you as soon as possible.</p>