@page
@model BookRental.Pages.ContactView.UnconfirmedModel
@{
	ViewData["Title"] = "Confirmation";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="~/css/Unconfirmed.css" asp-append-version="true" />
</head>
<body>
	<h1>The message couldn't be sent</h1>
	<ol>
		<li>Check that all the required fields have been filled out correctly, such as the name, email, and message fields.</li>
		<li>Make sure that the email address you entered is valid and correctly formatted.</li>
		<li>Check your internet connection to ensure that it is stable and working properly.</li>
		<li>Try using a different browser or clearing your browser cache and cookies.</li>
		<li>If the problem persists, you can try reaching out to the <a href="#">website administrator</a> for assistance or try using a different contact method such as email or phone.</li>
	</ol>
</body>
</html>