@page
@model BookRental.Pages.Tools.IndexModel
@{
}
<link rel="stylesheet" href="~/css/tools.css" asp-append-version="true" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="geolocation">
            <h1>Reveal your location</h1>
            <button class="cta" onclick="getLocation()">Get Location</button>
            <div id="location"></div>
        </div>
        <div class="LZW">
            <h1>LZW Compression</h1>
            <textarea id="inputText" rows="6" cols="50" placeholder="Enter text to compress"></textarea>
            <br>
            <button class="cta" onclick="compressText()">Compress</button>
            <button class="cta" onclick="decompressText()">Decompress</button>
            <br>
            <textarea id="outputText" rows="6" cols="50" readonly></textarea>
        </div>
    </div>

    <section>
        <h2>Audio</h2>
        <audio controls>
            <source src="files/audio.wav" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </section>

    <section>
        <h2>Video</h2>
        <video controls>
            <source src="files/video.mp4" type="video/mp4">
            Your browser does not support the video element.
        </video>
    </section>

    <section>
        <h2>Podcast</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Gi9TAY1J-I8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
</body>
<script src="~/js/geolocation.js" asp-append-version="true"></script>
<script src="~/js/compression.js" asp-append-version="true"></script>
</html>