
@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}
.coverBook {
    width: 120px;
    height: 180px;
}

body {
    background-color: black;
}

.table {
    color: #FFFFFF; /* White text color */
    
}

    .table thead th {
        background-color: rgba(0, 136, 169, 1); /* Light blue background for table header */
    }

    .table tbody tr {
        background-color: #24252a; /* Light gray background for table rows */
    }

        .table tbody tr:nth-child(odd) {
            background-color: #24252a; /* Alternating lighter gray background for table rows */
        }





.rounded-table thead th:first-child {
    border-top-left-radius: 20px;
}

.rounded-table thead th:last-child {
    border-top-right-radius: 20px;
}


.rounded-table th, .rounded-table td {
    padding: 14px;
    text-align: left;
}


 p{
    font-weight: bold;
    color: whitesmoke;
}

.quantity-control {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-input {
    width: 60px;
    text-align: center;
}

