body {
	background-color: black;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	color: white;
}

h1 {
	font-size: 32px;
	margin: 20px 0;
	text-align: center;
}

ol {
	margin: 0 auto;
	max-width: 600px;
	padding: 20px;
}

li {
	margin-bottom: 10px;
}

a {
	color: #007bff;
	text-decoration: none;
}

	a:hover {
		text-decoration: underline;
	}
